body{
	font-family: 'Lato', sans-serif;
}

table{
	border-spacing: 0;
	border-collapse: collapse;
}

a{
	text-decoration: none;
}

nav li{
	list-style-type: none;
	display: inline-block;
}

#Grid{
	width: 1000px;
	text-align: justify;
}

#Grid:after{
	content: '';
	display: inline-block;
	width: 100%;
}

#Grid .gap{
	display: inline-block;
	width: 200px;
}

#Grid .mix{
    width: 903px;
    height: 508px;
    background: #ccc;
    color: #fff;
    font-size: 30px;
}

.wrapper{
	margin: 50px auto 0 auto;
	max-width: 640px;
}

.controls{
	display: inline-block;
	width: 180px;
	margin: 0 0 30px;
	vertical-align: top;
}

.controls li{
	margin-left: 20px;
	cursor: pointer;
	list-style-type: square;
}

.img_wrapper img {
	width: 50%;
	height: auto;
	top: 0;
}